<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>고객 메인 화면</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
</head>
<style>
    .juho_custom{
        height: 60%; width: 60%; margin: left;
        }
    h1{ text-align: center; margin-left:15% }
    h2{ text-align: center;}
</style>
<body>
<div class="jumbotron">
    <h2 class="display-4">코로나 19</h2>
    <h1 class="display-3">
        자가진단
        <br>
        <small class="text-muted" style="margin-left:15%">신세계아이앤씨</small>
    </h1>
    <br><br>
    <div class="form-group" style="float:left;">
        <input class="form-control form-control-lg" type="text" placeholder="메일을 입력해주세요" id="inputLarge">
    </div>
    <div class="form-group" style="float:left;">
        <h2>@shinsegae.comhh</h2>
    </div>
</body>
</html>